* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-height: 100%;
    width: 100%;
    background-color: #1B1A17;
    user-select: none;
}

#title {
    color: #FDF0D5;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 1px;
    text-shadow: 3px -5px 14px rgba(0,0,0,0.5);
}

#title:after,
#title:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #E8FFFF;
}

#count{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    background-color: #0D7377;
    color: #EADEDE;
    width: max-content;
    margin: 6rem auto 4rem auto;
    padding: 2rem 4rem;
    border-radius: 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0, .6);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.btns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2vw;
}

.btn {
    background-color: #eee;
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
    width: 10em;
    border-radius: 1rem;
    color: #1B1A17;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
                rgba(0, 0, 0, 0.09) 0px 4px 2px,
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 0.2rem #242222e0;
    transform: translateY(0.2rem);
}

.btn:hover:not(:disabled) {
    background: #FBCB0A;
}
#reset:hover:not(:disabled) {
    background: #fd1c08;
}

#footer{
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    margin-top: 8vw;
}